# This is Git's per-user configuration file.
[user]
	name = Nicolas Herschke
	email = nicolas.herschke@gmx.de
[init]
	defaultBranch = main
[diff]
    tool = nvim_difftool
[difftool "nvim_difftool"]
    cmd = nvim -c \"packadd nvim.difftool\" -c \"DiffTool $LOCAL $REMOTE\"
